    .div-infoProveedor {
        border-bottom: 3px solid rgb(102, 102, 102);
        height: 300px;
        width: 1300px;
        margin-left: 500px;
        float: left;
        display: block;
        position: absolute;
        top: 150px;
        padding-bottom: 100px;
    }
    
    .div-NombreEmpresa>div {
        text-align: center;
        margin-top: 250px;
    }
    
    .form-desc,
    .Slct-Form {
        width: 200px;
        height: 24px;
        display: inline-block;
        margin-bottom: 30px;
        text-align: center;
    }
    
    #ubicationForm {
        display: inline-block;
        text-align: center;
        margin-right: 490px;
        width: 690px;
        height: 400px;
    }
    
    .div-Form {
        border-right: 3px solid rgb(102, 102, 102);
        display: inline-block;
        text-align: center;
        width: 400px;
        height: 600px;
        margin-left: 50px;
        margin-top: 100px;
        padding-right: 100px;
        padding: 10px;
    }
    
    .map-container {
        display: inline;
        float: left;
        min-width: 110px;
        padding-bottom: 20px;
    }
    
    .map-container {
        width: 90%;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #map {
        margin-top: 20px;
        min-width: 200px;
        width: 60%;
        margin-left: 50px;
        height: 100px;
    }
    
    .div-Form>div {
        padding-right: 20px;
        margin-right: 10px;
    }
    
    .div-Form h1 {
        text-align: center;
        padding: 30px;
        padding-left: 30px;
        margin-right: 10px;
        font-size: xx-large;
        font-weight: bold;
        display: block;
    }
    
    .div-Form>div>label {
        width: 150px;
        display: inline-block;
        margin-left: 15px;
        margin-bottom: 15px;
    }
    
    #terminos {
        float: left;
        padding-top: 15px;
        padding-left: 124px
    }
    
    .error-input {
        border: 2px solid rgb(228, 20, 20);
    }
    
    @media only screen and (max-width: 1400px) {
        .div-NombreEmpresa>#inicioSesion {
            margin-right: 20px;
        }
    }
    
    * {
        box-sizing: border-box;
        font-size: larger;
    }
    
    #seccion-principal {
        padding-top: 150px;
        padding-left: 470px;
        display: flow-root;
    }
    
    #seccion-principal h1 {
        padding-bottom: 40px;
        font-size: 40px;
        font-weight: bold;
    }
    
    #titulo-proveedor {
        position: absolute;
        top: 180px;
        font-size: 30px;
        width: 300px;
        font-weight: bold;
        text-align: left;
        padding-right: 10px;
        padding-left: 50px;
    }
    
    .img1 {
        background-image: url('../proyectopipasimgs/Michi.jpg');
        background-size: cover;
        border-radius: 25px;
        background-position: center;
        width: 200px;
        height: 200px;
        float: left;
        margin-left: 50px;
    }
    
    #logoProveedor {
        width: 150px;
        height: 150px;
        border-radius: 25px;
        display: inline;
        padding-left: 20px;
    }
    
    .info {
        width: 600px;
        display: inline-block;
        text-align: center;
        border-right: 3px solid rgb(102, 102, 102);
        padding-top: 70px;
        padding-right: 100px;
        padding-bottom: 40px;
        position: absolute;
        right: 400px;
    }
    
    #btnSubmit {
        float: right;
        margin-right: 79px;
        display: inline;
        height: 30px;
        width: 200px;
        background-color: #e69138;
        color: white;
    }
    
    .checked {
        color: orange;
    }
    
    .calificacion {
        display: block;
        text-align: center;
    }
    
    .calificacion h2 {
        font-weight: bold;
        font-size: 25px;
        position: absolute;
    }
    
    .starContainer {
        padding-top: 10px;
        padding-bottom: 30px;
    }
    
    .starContainerProveedor {
        display: block;
        float: right;
        padding-right: 140px;
        padding-top: 150px;
    }
    
    .starContainerProveedor input {
        display: none;
    }
    
    #btnSubmitProveedor {
        float: right;
        display: inline;
        height: 30px;
        width: 200px;
        margin-left: 100px;
        margin-top: 50px;
        background-color: #e69138;
        color: white;
        position: absolute;
        right: 90px;
    }
    
    .starContainerProveedor label {
        font-weight: 10px;
    }