body {
    height: 100%;
}

#sct-form {
    display: flex;
    float: left;
    justify-content: space-around;
    height: 100%;
}

.div-NombreEmpresa {
    border: 3px solid rgb(102, 102, 102);
    display: inline-block;
    margin-left: 220px;
    margin-top: 100px;
    width: 40%;
    height: 780px;
    font-size: 18px;
    background-color: aliceblue;
}

#logoEmpresa {
    width: 350px;
    padding-top: 10px;
    margin-left: 220px;
    margin-bottom: 20px;
    text-align: center;
}

.info {
    margin-left: 20px;
}


/* Formulario de Contacto*/

.formulario-contacto {
    background-image: url('../proyectopipasimgs/formulario2.jpg');
    background-size: 100%;
    object-position: bottom;
    display: inline-block;
    margin-top: 100px;
    margin-right: 200px;
    width: 40%;
    height: 786px;
}

.form {
    width: 60%;
    margin: 0% auto;
    margin-top: 100px;
    background: rgb(0, 0, 0, 0.4);
    padding: 10 px 20px;
    box-sizing: border-box;
    height: 600px;
    border-radius: 7px;
}

h2 {
    color: #fff;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    margin-bottom: 20px;
}

input,
textarea {
    width: 80%;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-top: 10px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}

label {
    margin-left: 50px;
    color: #fff;
    padding-bottom: 3px;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

.btn {
    font-weight: bold;
    font-size: 15px;
    width: 60%;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgb(102, 102, 102);
}

.error-input {
    border: 3px solid rgb(228, 20, 20);
}