html {
    font-family: Arial, Helvetica, sans-serif;
}

#header-principal {
    overflow: hidden;
    background-color: rgb(204, 73, 79);
    position: fixed;
    top: 0;
    width: 100%;
}

#header-principal nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 0;
}

.inicioSesionLogo {
    float: left;
    width: 76px;
}

#logoFooter {
    width: 150px;
    padding-right: 30px;
}

#inicioSesion {
    margin-left: 900px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(102, 102, 102);
    color: white;
    height: 70px;
    padding-top: 10px;
    padding-left: 25px;
}

#div-footer {
    float: left;
    padding-bottom: 80px;
}

h1 {
    text-align: center;
    padding: 60px;
    font-size: 20px;
    color: black;
}

.btn {
    text-align: center;
    height: 30px;
    width: 200px;
    background-color: #e69138;
    color: white;
}

@media only screen and (max-width: 1900px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    #inicioSesionLogo>nav>a {
        width: 20px;
        padding: 1px 1px;
    }
    #inicioSesion {
        margin-left: auto;
    }
}