.div-NombreEmpresa {
    border: 3px solid rgb(102, 102, 102);
    display: inline-block;
    margin-left: 50px;
    width: 429px;
    padding-top: 150px;
    background-color: aliceblue;
}

.cuadro-segundo {
    border: 3px solid rgb(102, 102, 102);
    height: 640px;
    background-color: aliceblue;
    width: 1100px;
}

.div-Form {
    display: inline-block;
    text-align: center;
    width: 390px;
}

.form-ubicacion {
    display: inline-block;
    text-align: center;
    width: 700px;
    padding-top: 90px;
}

main {
    background-image: url('../proyectopipasimgs/pexels-lumn-406014.jpg');
    background-size: cover;
    background-position: center;
    transform: none;
    height: 800px;
}

.div-NombreEmpresa>div {
    text-align: center;
    margin-top: 250px;
}

.form-desc,
.Slct-Form {
    width: 178px;
    height: 24px;
    display: inline-block;
    margin-bottom: 15px;
}

#logoEmpresa {
    width: 400px;
    text-align: center;
    padding-top: 120px;
}

#lbl-comentario {
    position: absolute;
    padding-top: 0px;
    padding-left: 50px;
}

#ubicationForm {
    display: inline-block;
    text-align: center;
    margin-right: 490px;
    width: 690px;
    height: 800px;
}

#comentarios {
    width: 300px;
    height: 100px;
    resize: none;
    margin-left: 200px;
}

.div-comentarios>label {
    flex-grow: initial;
}

.div-documentos {
    padding-top: 20px;
}

.map-container {
    display: inline;
    float: left;
    min-width: 110px;
    padding-bottom: 20px;
}

.map-container {
    width: 600px;
    margin-top: 20px;
    margin-left: 40px;
}

#map {
    min-width: 200px;
    width: 60%;
    height: 100px;
    float: right;
}

#sct-form {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.div-Form>div>label {
    width: 150px;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
}

#terminos {
    float: left;
    padding-top: 15px;
    padding-left: 124px
}

#btnSubmit {
    float: left;
    margin-top: 40px;
    margin-left: 230px;
    height: 30px;
    width: 70px;
}

.error-input {
    border: 2px solid rgb(228, 20, 20);
}

@media only screen and (max-width: 1400px) {
    .div-NombreEmpresa>#inicioSesion {
        margin-right: 20px;
    }
}