* {
    box-sizing: border-box;
    font-size: larger;
}

.img1 {
    background-image: url('../IMGS/Michi.jpg');
    margin-left: 500px;
    background-size: cover;
    border-radius: 25px;
    background-position: center;
    width: 200px;
    height: 200px;
    display: inline-block;
}

#logoProveedor {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    display: inline;
}

.info {
    float: right;
    margin-top: 0px;
    margin-right: 550px;
    display: inline;
    width: 600px;
    text-align: center;
    border-left: 3px solid rgb(102, 102, 102);
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.info2 {
    padding-top: 40px;
    margin-left: 500px;
    width: 273px;
    font-weight: bold;
    height: 100px;
    text-align: left;
    display: inline-block;
    border-right: 3px solid rgb(102, 102, 102);
}

.info2 h1 {
    padding-bottom: 10px;
}

#btnSubmit {
    float: right;
    margin-right: 550px;
    display: inline;
    height: 30px;
    width: 200px;
    background-color: #e69138;
    color: white;
}

.checked {
    color: orange;
}

.calificacion {
    padding-left: 50px;
    display: inline-block;
    margin-bottom: 0px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.calificacion h2 {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px;
}

#seccion-principal div>h1 {
    padding-top: 150px;
    font-size: 50px;
    font-weight: bolder;
    margin-left: 500px;
    padding-bottom: 50px;
}

.starContainer input {
    display: none;
    padding-left: px;
}

.starContainer {
    text-align: center;
    display: block;
    margin-left: 800px;
    position: absolute;
    top: 630px;
    padding-left: 50px;
}

.starContainer h2 {
    text-align: center;
    position: absolute;
    top: 30px;
    left: 1px;
    width: 300px;
    padding-right: 100px;
}

#btnVolver {
    float: left;
    margin-bottom: 200px;
    margin-left: 1170px;
    height: 30px;
    width: 200px;
    background-color: #e69138;
    color: white;
}